.filme {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;
}

.filme img {
    width: 100%;
}

@media (max-width:1024px) {
    .filme {
        height: 480px;
    }
}

@media (max-width:768px) {
    .filme {
        height: 550px;
    }
}

@media (max-width:425px) {
    .filme {
        height: 630px;
    }
}